/* Horizontal Grid
======================================================== */

.brick, .bricks { margin:none; }
.one.brick { height: 10px; }
.two.bricks { height: 20px; }
.three.bricks { height: 30px; }
.four.bricks { height: 40px; }
.five.bricks { height: 50px; }
.six.bricks { height: 60px; }
.seven.bricks { height: 70px; }
.eight.bricks { height: 80px; }
.nine.bricks { height: 90px; }
.ten.bricks { height: 100px; }
.eleven.bricks { height: 110px; }
.twelve.bricks { height: 120px; }
.thirteen.bricks { height: 130px; }
.fourteen.bricks { height: 140px; }
.fifteen.bricks { height: 150px; }
.sixteen.bricks { height: 160px; }
.seventeen.bricks { height: 170px; }
.eighteen.bricks { height: 180px; }
.nineteen.bricks { height: 190px; }
.twenty.bricks { height: 200px; }
.thirty.bricks { height: 300px; }
.forty.bricks { height: 400px; }
.fifty.bricks { height: 500px; }
.sixty.bricks { height: 600px; }
.seventy.bricks { height: 700px; }
.eighty.bricks { height: 800px; }

.slat, .slats {margin:none;}
.fifteen-slats {width:150px;}


/* 300 Mobile
======================================================== */
 @media only screen and (min-width: 300px) and (max-width: 780px) {
  
  
.brick, .bricks { margin:none; }
.one.brick { height: 5px; }
.two.bricks { height: 10px; }
.three.bricks { height: 15px; }
.four.bricks { height: 20px; }
.five.bricks { height: 25px; }
.six.bricks { height: 30px; }
.seven.bricks { height: 35px; }
.eight.bricks { height: 40px; }
.nine.bricks { height: 45px; }
.ten.bricks { height: 50px; }
.eleven.bricks { height: 55px; }
.twelve.bricks { height: 60px; }
.thirteen.bricks { height: 65px; }
.fourteen.bricks { height: 70px; }
.fifteen.bricks { height: 75px; }
.sixteen.bricks { height: 80px; }
.seventeen.bricks { height: 85px; }
.eighteen.bricks { height: 90px; }
.nineteen.bricks { height: 95px; }
.twenty.bricks { height: 100px; }
.thirty.bricks { height: 150px; }
.forty.bricks { height: 200px; }
.fifty.bricks { height: 250px; }
.sixty.bricks { height: 300px; }
.seventy.bricks { height: 350px; }
.eighty.bricks { height: 400px; }
  
  
.slat, .slats {margin:none;}
.fifteen-slats {width:75px;}

}


/* #Clearing (taken from Dave Gamache)
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility:hidden;}
    
    /* Use clearfix class on parent to clear nested columns */
    .clearfix:before,
    .clearfix:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .clearfix:after {
      clear: both; }
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
