/*Convention
- Display
- Position
- Height
- Width
- Margin
- Padding
- Border
- Background
- Font
- Color
- Font weight
- Line height
- Text-align
*/


.nav {
  position: fixed;
  z-index: 999;
  left: 0px;
  height: 100% ;
  width: 50px;
  margin: 10px;
}

.logo {
  height:50px;
  margin: 0px;
  padding: 0px;
  border-radius: 2px;
  border: none;
  background-color: #323232;
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  
}

.filter {
  display: block;
  margin-top:10px;
  padding: 0px;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
}

.section {
  margin-bottom:10px;
}