/*@import "v1.scss";*/
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  line-height: 30px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

/* #Basic Styles
================================================== */
body {
  background: #fff;
  font: 16px/1.6 "Roboto", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  margin-bottom: 20px; }

h1 {
  font-size: 22px;
  line-height: 1.5; }

h2 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700; }

h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: rgba(0, 20, 50, 0.5); }

h4 {
  font-size: 16px;
  line-height: 1.5; }

h5 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold; }

h6 {
  font-size: 16px;
  line-height: 1.5; }

p {
  margin: 0 0 30px 0;
  font-weight: 400;
  line-height: 30px; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

code, pre {
  font-size: 14px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  color: #4197C8;
  background-color: #EEF3F6; }

pre {
  padding: 20px;
  margin-bottom: 30px; }

/* #Links
================================================== */
a {
  color: #888;
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus {
  color: #000; }

/* Grid Settings
  ========================================================================== */
/* Grid Generator
  ========================================================================== */
/* Breakpoints
  ========================================================================== */
.container {
  margin: 0 auto; }
  @media only screen and (min-width: 301px) and (max-width: 500px) {
    .container {
      width: 300px; } }
  @media only screen and (min-width: 501px) and (max-width: 800px) {
    .container {
      width: 500px; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    .container {
      width: 800px; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    .container {
      width: 800px; } }
  @media only screen and (min-width: 801px) {
    .container {
      width: 800px; } }

/* Gutter class
  ========================================================================== */
.gutter-wrapper {
  margin: 40px; }

/* #Clearing - by Dave Gamache
  ========================================================================== */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/*NAV
------------------------------------------*/
nav {
  position: fixed;
  width: 100%;
  z-index: 99999;
  height: 60px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  overflow: hidden; }
  nav .nav_menu {
    display: block; }
  nav .nav_contact {
    display: block;
    position: absolute;
    font-family: 'Helvetica Neue' sans-serif;
    letter-spacing: 1px;
    width: 25px;
    height: 25px;
    right: 0px;
    font-size: 13px;
    font-weight: 300;
    margin: 20px;
    color: #ddd;
    text-indent: -999999px;
    background-image: url("/assets/icon_mail.png");
    background-repeat: no-repeat;
    background-size: 100%; }
  nav .nav_logo {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("/assets/logo_min.png");
    background-size: 100%;
    content: " ";
    margin: 50px auto 0 auto;
    clear: both; }
    nav .nav_logo.is-shown {
      margin: 10px auto 0 auto; }

nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

nav a:hover {
  color: black; }

.nav_back {
  display: block;
  position: fixed;
  z-index: 9999999;
  font-family: 'Helvetica Neue' sans-serif;
  letter-spacing: 1px;
  width: 25px;
  height: 25px;
  left: 0px;
  font-size: 13px;
  font-weight: 300;
  margin: 20px;
  color: #ddd;
  text-indent: -999999px;
  background-image: url("/assets/icon_back.png");
  background-repeat: no-repeat;
  background-size: 100%; }

.opaque {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/*HEADER
------------------------------------------*/
header.hero {
  position: relative; }
  @media only screen and (min-width: 301px) and (max-width: 500px) {
    header.hero {
      height: 280px; } }
  @media only screen and (min-width: 501px) and (max-width: 800px) {
    header.hero {
      height: 230px; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    header.hero {
      height: 250px; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    header.hero {
      height: 250px; } }
  @media only screen and (min-width: 801px) {
    header.hero {
      height: 400px; } }

header.post {
  position: relative;
  height: auto; }

header > .title {
  margin: 60px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 30px;
  font-weight: bold; }

header > .identity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-indent: 10000px;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
  height: 60px;
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-size: 100%; }

/*ABOUT
------------------------------------------*/
.about {
  margin-bottom: 30px; }

.about_capsule {
  padding: 10px; }

.about_social {
  width: 16.66667%;
  float: left;
  display: inline; }
  .about_social a:link, .about_social a:active, .about_social a:hover, .about_social a:visited {
    text-decoration: none; }
  @media only screen and (min-width: 301px) and (max-width: 500px) {
    .about_social {
      width: 50%;
      float: left;
      display: inline; } }

.about_summary {
  width: 66.66667%;
  float: left;
  display: inline; }
  @media only screen and (min-width: 301px) and (max-width: 500px) {
    .about_summary {
      display: none; } }

/*GRID
------------------------------------------*/
.grid_card_wrapper {
  float: left; }
  @media only screen and (min-width: 301px) and (max-width: 500px) {
    .grid_card_wrapper {
      width: 300px; } }
  @media only screen and (min-width: 501px) and (max-width: 800px) {
    .grid_card_wrapper {
      width: 250px; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    .grid_card_wrapper {
      width: 266px; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    .grid_card_wrapper {
      width: 266px; } }
  @media only screen and (min-width: 801px) {
    .grid_card_wrapper {
      width: 266px; } }

.grid_card {
  float: left;
  margin: 0 10px 20px 10px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  background-color: #e9e9e9; }
  @media only screen and (min-width: 301px) and (max-width: 500px) {
    .grid_card {
      height: 270px; } }
  @media only screen and (min-width: 501px) and (max-width: 800px) {
    .grid_card {
      height: 220px; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    .grid_card {
      height: 240px; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    .grid_card {
      height: 240px; } }
  @media only screen and (min-width: 801px) {
    .grid_card {
      height: 240px; } }
  .grid_card img {
    float: center;
    width: 100%;
    padding: none;
    vertical-align: top; }

/*FOOTER
------------------------------------------*/
footer {
  padding: 80px 10px;
  text-align: center; }

/*ARTICLE
------------------------------------------*/
article {
  padding: 0 10px; }
  article ol {
    list-style: decimal; }
  @media only screen and (min-width: 301px) and (max-width: 500px) {
    article p {
      margin: 0 0 20px 0; } }
  @media only screen and (min-width: 501px) and (max-width: 800px) {
    article p {
      margin: 0 0 20px 0; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    article p {
      margin: 0 0 20px 0; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    article p {
      margin: 0 120px 20px 120px; } }
  @media only screen and (min-width: 801px) {
    article p {
      margin: 0 120px 20px 120px; } }
  @media only screen and (min-width: 301px) and (max-width: 500px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 0 20px 0; } }
  @media only screen and (min-width: 501px) and (max-width: 800px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 0 20px 0; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 0 20px 0; } }
  @media only screen and (min-width: 801px) and (max-width: 800px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 120px 20px 120px; } }
  @media only screen and (min-width: 801px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 120px 20px 120px; } }
  article hr {
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid transparent; }
  article h4, article h5 {
    margin-top: 60px; }
  article ol {
    margin-bottom: 60px; }
  article li {
    margin-bottom: 10px;
    padding-left: 10px;
    margin-left: -10px; }

figure > img {
  position: relative;
  width: 100%;
  margin: 0 0 30px 0; }

/*# sourceMappingURL=main.css.map */
