---
layout: default
title: Work
---

<!-- Content
    ================================================== -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55446808-1', 'auto');
  ga('send', 'pageview');

</script>

<header class="container hero">
  <div class="hero_wrapper">
    <div class="hero_glyph"></div>
    <div class="nav-trigger hero_identity">
      <div class="hero_name">Ed Chao</div>
      <ul class="hero_contact">
        <li><a class="contact">Email</a></li>
        <li><a href="http://dribbble.com/edchao">Dribbble</li>
        <li><a href="http://dribbble.com/edchao">Twitter</li>
      </ul>
    </div>

  </div>
</header>

<div class="container grid">
  {% for post in site.posts %}
    {% if post.categories contains 'published' %}
      <div class="grid_card_wrapper hide_me">
        <div class="grid_card_description">
          <a href="{{ post.url }}">
            <p class="grid_card_headline">{{ post.headline }}</p>
            <p class="grid_card_co">{{ post.co }}</p>
            <p class="grid_card_date">{{ post.date | date: "%Y" }}</p>
          </a>
        </div>
        <a class="link_block" href="{{ post.url }}">
        {{ post.content | split: '<!--more-->' | first }}
        <a/>
      </div>
    {% endif %}
  {% endfor %}
</div>
