

/*GENERAL
------------------------------------------*/
nav, section, footer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   width:100%;
}


.container {
  margin-left:0px;
  background-color:#f2f2f2;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
 display: -webkit-flex;
   display: flex;
      -webkit-flex-direction: column;
   flex-direction: column;
   min-height:100%;
}

/*DRAWER
------------------------------------------*/

aside.drawer{
  position:fixed;
  z-index:-9999;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   /*-webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;*/
   background-color:#222;
   height:100%;
   width:200px;
}

.drawer li{
  font-family: 'Helvetica Neue' sans-serif;
  font-size: 14px;
  font-weight:400;
  padding:18px;
  border-bottom:1px solid #333;
}

.drawer a{
  text-decoration: none;
  color: #f7f7f7;

}


/*NAV
------------------------------------------*/
nav {
position:fixed;
height:60px;
-webkit-transition: all 0.2s;
transition: all 0.2s;
}

nav li {
  font-family: 'Helvetica Neue' sans-serif;
  display:inline-block;
  font-size: 13px;
  font-weight:300;
  margin: 0 20px;
  padding:4px 20px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 30px;
  -webkit-transition: all 0.8s;

}

nav li:hover {
  border: 1px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,1);

}

nav a{
  text-decoration: none;
  color: rgba(0,0,0,0.5);

}

nav a:hover{
  color: rgba(0,0,0,1);	
}

/*NAV - COMPACT
------------------------------------------*/

.compact {
  width:20px;
  font-size: 13px;
  font-weight:300;
  margin: 0 20px;
  padding:4px 0px;
  background-image: url('../img/menu.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.8s;
  transition: all 0.5s;
  opacity: 0.5;
  cursor:pointer;
}

.compact:hover{
  opacity:0.9;
}


/*HEADER
------------------------------------------*/

header {
background-image: url('../img/cover3.jpg');
background-position: top;
padding-top:50px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   width:100%;
}

.circle {

   border-radius: 80px;
   background-color: #fff;
   margin-bottom:0 auto 20px auto;
}

.title {
	text-align:center;
	   font-size:40px;
	   font-weight:300;
	   color:#111;

}

.subtitle {
	text-align: center;
	font: 16px 'Georgia' serif;
	font-style:italic;
}

button.contact{
  font: 18px 'Open Sans' sans-serif;
  font-weight:300;
  font-style: light;
  color:#fff;
  margin-top: 20px;
	display:block;
	width:180px;
	height:50px;
	border-radius: 80px;
  border: 1px solid rgba(0,0,0,0.3);
  background-color:rgba(0,0,0,0.6);
  -webkit-transition: background 0.5s;
}

button.contact:hover{
    background-color:rgba(0,0,0,0.8);

}





/*MAIN
------------------------------------------*/

section.main {
   padding-bottom:20px;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-start;
   align-content: flex-start;
   -webkit-flex:1;
   flex:1;
}


.block {
background-color: #fff;
width:400px;
margin:20px 10px 0 10px;
border-radius: 10px;
border-bottom: 1px solid #e0e0e0;
overflow:hidden;
//min-height:200px;
max-height:300px;
}

.block img{
  float:center;
  width:100%;
}


/*FOOTER
------------------------------------------*/

footer {
background-color: #555;
padding:10px 0px;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.find_me {
       font-size:16px;
     font-weight:300;
     color:#e9e9e9;
     margin:10px 0;
}

ul.social {
  margin-bottom:20px;
}

.social li {
    text-indent:-999999px;

  width:28px;
  height:28px;
  margin:0 20px;
  display:inline-block;
}

.twitter {
  background-image: url('../img/icon_twitter.png');
  background-size: 100%;
}

.dribbble {
  background-image: url('../img/icon_dribbble.png');
  background-size: 100%;
}

.linkedIn {
  background-image: url('../img/icon_linkedin.png');
  background-size: 100%;
}



