---
layout: default
---

<!-- Content
    ================================================== -->
<div class="container">
  <div class="twenty columns">
    <div class="five bricks">
    </div>
    <div class="section">
      <div class="article-head clearfix">
        <h4 class="article-title">{{ page.title }}</h4>
        <span class="article-date">{{ page.date | date_to_string }}</span>
      </div>
      <div class="serif">
        {{ content }}
      </div>
      <hr>
    </div> <!--section-->
  </div><!-- twenty columns -->
</div><!-- container -->



